<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
		<!-- <script type="text/javascript" src="_STATIC_/js/jquery-3.2.1.min.js"></script>
    	<script type="text/javascript" src="_STATIC_/js/bootstrap.min.js"></script>
    	<script type="text/javascript" src="_STATIC_/js/bootstrap-datetimepicker.js"></script> -->
</head>
<body>

		<a href="{:url('authority/loginer')}"><button>登陆</button></a>
		<a href="{:url('authority/register')}"><button>注册</button></a>
		
</body>
</html>